<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Steven Walker-Roberts is a forward-thinking computer scientist and a formidable academic lawyer at the forefront of cybersecurity and zero trust unprivileged computing.">
    <title>Steven Walker-Roberts</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
						  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
						  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
						<![endif]-->
</head>

<body>
    <!-- contact page -->
    <div class="row">
        <div class="container-fluid minfull intro">
            <div class="col-md-8 minfull prelim">
                <nav class="navbar navbar-default">
                    <div class="container-fluid fix">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" id="navbutton"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
											<h4 class="visible-xs hidden" id="xsbrand"><b>Steven Walker-Roberts</b></h4>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="mainnav">
                            <!-- Brand-->
                            <a class="navbar-brand navbar-nav visible-md visible-lg hidden" id="name" href="#">Steven Walker-Roberts</a>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#About" ng-click="">About</a>
                                </li>
                                <li>
                                    <a href="#Scientific Work" ng-click="">Scientific Work</a>
                                </li>
                                <li>
                                    <a href="#Legal Work" ng-click="">Legal Work</a>
                                </li>
                                <li>
                                    <a href="#Publications" ng-click="">Publications</a>
                                </li>
                                <li>
                                    <a href="#Pro Bono" ng-click="">Pro Bono</a>
                                </li>
                                <li>
                                    <a href="#Contact" ng-click="">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p class="center name">
                        Steven Walker-Roberts
                        <i class="credentials"><br>
													Academic Lawyer, Computer Scientist, Teacher, Writer
													</i>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <!-- andrew norfolk quote -->
        <div class="container-fluid blackquote">
            <div class="col-md-12">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0 center">Steven will bring a fierce intelligence, a strong work ethic, significant IT skills, a steely will
                        <br>to succeed and a refusal to be cowed by seemingly insurmountable obstacles.</p>
                    <footer class="blockquote-footer center">Andrew Norfolk, <cite title="Source Title">The Times</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <!-- about -->
        <div class="container-fluid spaceout about" id="About">
            <div class="col-md-12">
                <h3 class="center">About Steven</h3>
                <p class="center">
                    Steven has been able to program since the age of 8 when he learned to disassemble Playstation One games in order to alter game functions. He learned to build his first computer at the same age, and shortly after learned basic electronics. Over his teenage years, he refined and honed these skills. When Steven left school, he studied children's nursing whilst working part-time for the social services. He worked in the health and social care industry for 5 years in children's critical care before developing a special interest in child safeguarding. During his legal studies, he took part in major public policy work in relation to child sexual exploitation, particularly by grooming gangs and offences committed using the internet (cyber CSE offences). From here, he developed a keen interest in criminal and public law. That insight into criminal law and his passion for computer science is what acted as a springboard for his specialism in cybersecurity.
                </p>
            </div>
        </div>
        <!-- turing quote -->
        <div class="container-fluid blackquote">
            <div class="col-md-12">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0 center">A computer would deserve to be called intelligent if it could deceive a human into believing that it was human.</p>
                    <footer class="blockquote-footer center">Alan Turing, <cite title="Source Title">OBE FRS</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <!-- scientific work -->
        <div class="container-fluid red nhscyber" id="Scientific Work">
            <div class="col-md-6">
                <h3>Scientific Work</h3>
                <p>
                    Steven's work in computer science revolves around "zero trust" otherwise described as "unprivileged computing". His research focuses on a theory he devised known as the "cardinal trust" model. This model allows computer scientists to remove situational awareness when designing computer systems which makes them very difficult, if not impossible, to penetrate.
                </p>
                <p>
                    The key motivation for designing and researching an unprivileged computing model was to deal with increasing threats from persons in a position of trust inside a computer network and the increasing use of computers as digital weapons both by criminals and nation states. His legal experience was crucial in creating a system which truly protects resources and assets in accordance with regulatory requirements.
                </p>
            </div>
            <div class="col-md-6">
                <br>
                <h4>Key Acheivements</h4>
                <ol>
                    <li>Developed the "cardinal trust" model of unprivileged or "zero trust" computing which provides a way of removing situational awareness to make computer systems incredibly robust.</li>
                    <br>
                    <li>Created the Atlas.io PAAS software which implements the cardinal trust model on a mass scale. It allows developers to launch payloads without having to be concerned with the security of the underlying platform. Amateur developers and non-programmers are able to use it to acheive security by default.</li>
                    <br>
                    <li>Various contributions to the open-source community.</li>
                </ol>
                <br>
                <br>

            </div>
        </div>
        <!-- denning quote -->
        <div class="container-fluid blackquote">
            <div class="col-md-12">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0 center">The poorest man may in his cottage bid defiance to all the forces of the Crown. It may be frail—its roof may shake—the wind may blow through it—the storm may enter—the rain may enter—but the King of England cannot enter—all his force dare not cross the threshold of the ruined tenement. So be it—unless he has justification by law.</p>
                    <footer class="blockquote-footer center">Lord Denning in Southam v Smout [1964] 1 QB 308 at 320, <cite title="Source Title">Lord Justice of Appeal & Master of the Rolls</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <!-- legal work -->
        <div class="container-fluid spaceout legal" id="Legal Work">
            <div class="col-md-6">
                <h3>Legal Work</h3>
                <p>
                    Steven has contributed significantly to the state of the law, particularly in regards to the legislation concerning child sexual offences. He has experience of public, criminal and family law. During the sequence of public inquiries related to sexual grooming in the United Kingdom, Steven coordinated evidence in key public inquiries and led a private inquiry into the performance of public bodies. He is also regularly involved in unduly lenient sentence referrals under s.36 Criminal Justice Act 1988 as regards the correctness and scope of judicial power in passing sentence. His family law experience stems directly from working with vulnerable families seeking escape from serious violence.
                </p>
                <p>
                    Having represented hundreds of victims of sexual offences to the Home Affairs Select Committee in 2012 during its inquiry into Localised Grooming and Child Sexual Exploitation, Steven has developed a track record of defending the rights of vulnerable women. He then developed this further by providing representation for those in danger as a result of escalating domestic violence, this through the National Centre for Domestic Violence. This was supplemented by pro bono legal advice and representation in local advice centres in the areas of housing, insolvency, family, consumer and welfare law.
                </p>
                <p>
                    Steven has significant experience of teaching law to professional lawyers and law students in both practice environments and university environments. His teaching efforts are supplemented heavily by his contributions to the law.
                </p>
            </div>
            <div class="col-md-6">
                <br>
                <h4>Contributions to the Law</h4>
                <ol>
                    <li>Coordinated the evidence of circa 800 victims of sexual offences to the Home Affairs Select Committee of the House of Commons. (2012)</li>
                    <br>
                    <li>Created a dossier of failures by public bodies which was supplied to the Home Affairs Select Committee for their scrutiny.
                    </li>
                    <br>
                    <li>Provided evidence to the Children's Commissioner's Inquiry into Child Sexual Abuse in Groups and Gang (CSEGG), contributing to the new draft of the "Working Together to Safeguard Children" safeguarding guidance and proceedure used by all professionals coming into contact with children. (2013)</li>
                    <br>
                    <li>
                        Gave evidence to the Coffey Inquiry to inform the understanding of child safeguarding professionals in relation to child sexual exploitation (2014).
                    </li>
                    <br>
                    <li>
                        Drafted the new s.5 and s.9 sentencing guidelines in the new Definitive Guidelines on the Sentencing of Sexual Offences. These are now domestic criminal law in England and Wales during all sentencing exercises. (2014)
                    </li>
                    <br>
                    <li>
                        Drafted sections of the Serious Crime Bill 2014-15 [HL] during the committee stage to extend protection of children from sexual abuse (2015).
                    </li>
                    <br>
                </ol>

            </div>
        </div>
        <!-- michael meacher quote -->
        <div class="container-fluid blackquote">
            <div class="col-md-12">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0 center">He is a dilligent and keen worker; he is used to regularly giving evidence to Parliamentary inquiries.</p>
                    <footer class="blockquote-footer center">Rt. Hon. Michael Meacher MP, <cite title="Source Title">House of Commons</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <!-- publications -->
        <div class="container-fluid red publications" id="Publications">
            <div class="col-md-6">
                <h3>Publications</h3>
                <ol>
                    <li>HASC Report to the Home Affairs Select Committee of the House of Commons on behalf of victims of child sexual abuse. (2012)</li>
                    <br>
                    <li>Private inquiry report (2012).</li>
                    <br>
                    <li>"Working Together to Safeguard Children" statutory guidance (2013).</li>
                    <br>
                    <li>
                        Real Voices Evidence - Coffey Inquiry (2013)
                    </li>
                    <br>
                    <li>Definitive Guidelines on the Sentencing of Sexual Offences (s.5 and s.9 guidelines) (2014)</li>
                    <br>
                    <li>Serious Crime Bill 2014-15 [HL]</li>

                </ol>

            </div>
            <div class="col-md-6">

            </div>
        </div>
        <!-- lord hope quote -->
        <div class="container-fluid blackquote">
            <div class="col-md-12">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0 center">Fairness is rather like beauty, you see. Fairness, like beauty, lies in the eye of the beholder.</p>
                    <footer class="blockquote-footer center">Lord Hope of Craighead in White v White, <cite title="Source Title">President of the Supreme Court of the United Kingdom</cite>
                    </footer>
                </blockquote>
            </div>
        </div>


        <!-- pro bono work -->
        <div class="container-fluid spaceout probono" id="Pro Bono">
            <div class="col-md-12">
                <h3>Pro Bono</h3>
                <p><em>If your request for legal help or otherwise falls into one the categories below, I might be able to help. If not, I may be able to help you find the right person or place to assist you with your specific needs. I am usually instructed through a partner organisation as <u>I am not an authorised person under the Legal Services Act 2007</u> and so require permission in each case where I am asked to directly represent a person in a Court or Tribunal. I am also frequently asked to provide academic advice in complex cases.</em>
                </p>
                <h4>Unduly Lenient Sentence Referrals</h4>
                <p>On a day-to-day basis, I either recruit cases or have them referred to me, in respect of unduly lenient sentences passed in Crown Courts residing in England or Wales. Naturally, the sentences which come to me flow out of extremely serious criminal cases; usually sexual offence cases. When these cases come to me, provided they are potentially unduly lenient, I refer them to the Law Officers (the Attorney-General and the Solicitor-General) under the Unduly Lenient Sentence Scheme (that is the government machinery for s.36 Criminal Justice Act 1988). It takes only one referral under the scheme for the law officers to be required to review a prosecution case.</p>
                <p>I draft the Grounds of Appeal and send them to the Attorney-General''s Office. Once my appeal has been considered in respect of a case, one of the Law Officers will write to me, informing me whether he has found the sentence to be unduly lenient or not. If a sentence is unduly lenient in the view of a Law Officer, it can then be referred to the Court of Appeal under s.36 of the Criminal Justice Act 1988. The Court of Appeal then have an opportunity to review the case on submissions of appeal. They will then dismiss the appeal, allow the appeal and change the sentence (based on double-jeopardy principle) or allow the appeal but leave the sentence to stand.</p>
                <h4>Public Policy Work</h4>
                <p>I have a specific interest in ensuring victims of sexual abuse are represented in the on-going public inquiries. I would be happy to assist any victims in articulating their evidence or to take part in these inquiries. Please contact me for assistance in that regard.</p>
                <h4>Emergency Injunction Orders for Domestic Violence</h4>
                <p>In respect of victims of Domestic Violence, I am able to be instructed through the National Centre for Domestic Violence. I can either act as a McKenzie friend for litigants in person, or I can provide supervised representation. I can then attend a return date hearing with clients to assist them with their case when confronted by their potential abuser.</p>
                <h4>General Civil Litigation</h4>
                <p>For housing, employment, debt, harassment, family and consumer matters I am able to provide advice, direction or representation through channel organisations. Please enquire to find out more.</p>
            </div>
        </div>
        <!-- stuart henderson quote -->
        <div class="container-fluid blackquote">
            <div class="col-md-12">
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0 center">His ability to pick up on the finites and nuances of the complexities of Domestic Violence has made him one of the most dependable and well-respected members of our team.</p>
                    <footer class="blockquote-footer center">Stewart Henderson, <cite title="Source Title">Operational Manager of the National Centre for Domestic Violence</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <!-- contact -->
        <div class="container-fluid footer" id="Contact">
            <h3 class="center">Contact</h3>
            <div class="col-md-3">
                <h4>Address</h4>
                <p>Ref:BPM317090
                    <br> Mr Steven Walker-Roberts
                    <br> 372 Old Street
                    <br> London
                    <br> EC1V 9AU
                    <br>
                    <br>
                </p>
            </div>
            <div class="col-md-3">
                <h4>Telephone</h4>
                <p>0203 608 2232</p>
                <h4>Fax</h4>
                <p>0203 637 0189</p>
                <br>
            </div>
            <div class="col-md-6">
                <h4>Social</h4>
                <a href="mailto:steven@walkerroberts.co.uk"><img src="./img/mail.png" height="60px" width="60px" alt="Email"/>
                </a>
                <a href="https://www.facebook.com/whitetigerx"><img src="./img/Facebook.png" height="60px" width="60px" alt="Facebook"/>
                </a>
                <a href="https://twitter.com/swalkerroberts"><img src="./img/Twitter.png" height="60px" width="60px" alt="Twitter"/>
                </a>
                <a href="https://plus.google.com/u/0/+StevenWalkerRobertsLawyer"><img src="./img/google.png" height="60px" width="60px" alt="Google+"/>
                </a>
                <a href="https://uk.linkedin.com/in/walkerroberts"><img src="./img/Linkedin.png" height="60px" width="60px" alt="LinkedIn"/>
                </a>
                <a href="https://github.com/walkerandco"><img src="./img/Github.png" height="60px" width="60px" alt="GitHub"/>
                </a>
                <a href="https://web.whatsapp.com/"><img src="./img/wa.png" height="60px" width="60px" alt="WhatsApp"/>
                </a>
            </div>

        </div>
        <div class="container-fluid blackquote">
            <div class="col-md-12 center">
                <br>
                <footer>Copyright (c) Steven Walker-Roberts 2017. All rights reserved, no unauthorised duplication of any material appearing on this website is permitted.
                    <br>
                    <br>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- custom js files -->
    <script src="./js/customjq.js" type="text/javascript"></script>
</body>

</html>